NODE_ENV=development
GATEWAY_PORT=4000

ACCESS_TOKEN_SECRET=change-me

GATEWAY_SECRET=change-me

AUTH_SERVICE_URL=http://localhost:3001
PROFILE_SERVICE_URL=http://localhost:3002
CONTENT_SERVICE_URL=http://localhost:3003
SOCIAL_SERVICE_URL=http://localhost:3004
MEDIA_SERVICE_URL=http://localhost:3005
FEED_SERVICE_URL=http://localhost:3006

# AUTH_SERVICE_URL=http://auth-service:3000
# PROFILE_SERVICE_URL=http://profile-service:3000
# CONTENT_SERVICE_URL=http://content-service:3000
# SOCIAL_SERVICE_URL=http://social-service:3000
# MEDIA_SERVICE_URL=http://media-service:3000
# FEED_SERVICE_URL=http://feed-service:3000
