NODE_ENV=development
GATEWAY_PORT=4000

ACCESS_TOKEN_SECRET=change-me

GATEWAY_SECRET=change-me

AUTH_SERVICE_URL=http://localhost:3001
PROFILE_SERVICE_URL=http://localhost:3002
CONTENT_SERVICE_URL=http://localhost:3003
SOCIAL_SERVICE_URL=http://localhost:3004
MEDIA_SERVICE_URL=http://localhost:3005
FEED_SERVICE_URL=http://localhost:3006