NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://app:app@localhost:5432/feed

KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=feed-service
KAFKA_CONTENT_TOPIC=content.topic
KAFKA_SOCIAL_TOPIC=social.topic

KAFKA_SUBSCRIBE_FROM_BEGINNING=true

FEED_MAX_SIZE=500

CONTENT_SERVICE_URL=http://localhost:3003

SOCIAL_SERVICE_URL=http://localhost:3004
